{% extends "blocks/base.twig" %}

{% block content %}

    <h1>Admin</h1>
    <a href="{{ route('programmation_list') }}">Programmation</a><br />
    <a href="{{ route('plages_horaire_list') }}">Plages Horaire</a><br />
    <a href="{{ route('horaire_list') }}">Horaire de l'évènement</a><br />

{% endblock %}