{% extends "blocks/base.twig" %}

{% block content %}

    <h1>Admin</h1>
    <a href="{{ route('programmation_list') }}">Programmation</a>
    
    <h2>Iron Web</h2>
    <p><a href="{{ route('ironweb_ballot_list') }}">Votes</a></p>
    <p><a href="{{ route('ironweb_article_list') }}">Articles</a></p>

{% endblock %}