{% extends "blocks/base.html" %}

{% block title %}Iron Web | {{ parent() }}{% endblock %}

{% block content %}

<div class="ros-wrapper">
  <div class="page-content-block clearfix">
    <div id="iw-header" class="left-side main">
      <div id="logo-iw">
        <h1 class="t-indent">Iron Web</h1>
        <span class="to-cap">Une présentation de <strong>Deloitte</strong></span>
      </div>
    
      <div class="rs-content-box">
        <p>Le Iron Web est une compétition “Web réalité” pour les passionnés du Web qui désirent participer au projet le plus court, mais le plus intense de leur vie. Confinés à l’Espace 400e Bell pendant 48 heures, les participants devront concevoir un site Web extraordinaire. Une réalisation qui épatera le jury et le public, mais surtout, qui permettra à Québec de rayonner comme joueur important du Web au Québec et même dans le monde entier!</p>
      </div>
      
      <div class="clearfix"></div>
    </div>      
    <div id="iw-slideshow">
      <div class="fadein">
        <div class="slide">
          <img src="/assets/img/ironweb/montage-01.jpg">
        </div>
        <div class="slide">
          <img src="/assets/img/ironweb/montage-02.jpg">
        </div>
        <div class="slide">
          <img src="/assets/img/ironweb/montage-03.jpg">
        </div>
        <div class="slide">
          <img src="/assets/img/ironweb/montage-04.jpg">
        </div>
        <div class="slide">
          <img src="/assets/img/ironweb/montage-05.jpg">
        </div>
      </div>
    </div>      
    <div class="clearfix"></div>
    <div class="sep-shadow"></div>
    <div id="iw-avantages" class="rs-content-box">
      <h3 class="box-header">Les juges officiels</h3>
      <div class="judge">
        <img src="/assets/img/ironweb/jury/jmlacroix.jpg" alt="Jean-Michel Lacroix" />
        <div class="desc">
          <h4>Jean-Michel Lacroix</h4>
          <h5>Développeur, Ubisoft</h5>
        </div>
      </div>
      <div class="judge">
        <img src="/assets/img/ironweb/jury/douellet.jpg" alt="Daniel Ouellet" />
        <div class="desc">
          <h4>Daniel Ouellet</h4>
          <h5>Directeur de création, Cossette</h5>
        </div>
      </div>
      <div class="judge">
        <img src="/assets/img/ironweb/jury/arobillard.jpg" alt="Alain Robillard-Bastien" />
        <div class="desc">
          <h4>Alain Robillard-Bastien</h4>
          <h5>Consultant senior en expérience utilisateur, président d’Ergoweb</h5>
        </div>
      </div>
      <p>*Il y aura bien aussi un vote du public cette année!</p>
    </div>
    <div id="iw-participants" class="rs-content-box">
      <h3 class="box-header">Découvrez les participants 2012!</h3>
      <p>Nous sommes fiers de vous présenter les 10 participants à la 2e édition du Iron Web. 
        Apprenez en plus sur ces courageux professionnels et étudiants du Web à Québec ayant survécu à notre rigoureux processus de sélection. 
        Découvrez leur personnalité, leur visage et tentez de deviner quel heureux jumelage nous avons concocté!</p>
      <div id="jquery_jplayer"></div>
      <ul id="playlist">
        <li>
          <div class="play-pause" data-source="p-l-bab.mp3"></div>
          <img src="/assets/img/ironweb/participants/plbabin.jpg" alt="Pierre-Luc Babin" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Pierre-Luc Babin</span> <span class="title">Intégrateur et programmeur,</span> <span class="company">Duproprio</span></div>
            <a target="_blank" href="http://twitter.com/plbabin">@plbabin</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="dom.mp3"></div>
          <img src="/assets/img/ironweb/participants/d_blain.jpg" alt="Dominic Blain" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Dominic Blain</span> <span class="title">Designer,</span> <span class="company">Cégep Sainte-Foy</span></div>
            <a target="_blank" href="http://twitter.com/d_blain">@d_blain</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="syl.mp3"></div>
          <img src="/assets/img/ironweb/participants/bouchardsyl.jpg" alt="Sylvain Bouchard" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Sylvain Bouchard</span> <span class="title">Programmeur,</span> <span class="company">L3interactive</span></div>
            <a target="_blank" href="http://twitter.com/bouchardsyl">@bouchardsyl</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="jim.mp3"></div>
          <img src="/assets/img/ironweb/participants/jimmybourassa.jpg" alt="Jimmy Bourassa" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Jimmy Bourassa</span> <span class="title">Programmeur,</span> <span class="company">Hookt Studios</span></div>
            <a target="_blank" href="http://twitter.com/jimmybourassa">@jimmybourassa</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="alex.mp3"></div>
          <img src="/assets/img/ironweb/participants/bourgetalexndre.jpg" alt="Alexandre Bourget" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Alexandre Bourget</span> <span class="title">Programmeur,</span> <span class="company">Savoir-faire Linux inc</span></div>
            <a target="_blank" href="http://twitter.com/bourgetalexndre">@bourgetalexndre</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="louis-mich.mp3"></div>
          <img src="/assets/img/ironweb/participants/louim.jpg" alt="Louis-Michel Couture" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Louis-Michel Couture</span> <span class="title">Intégrateur,</span> <span class="company">Cégep Sainte-Foy</span></div>
            <a target="_blank" href="http://twitter.com/louim">@louim</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="fred.mp3"></div>
          <img src="/assets/img/ironweb/participants/fredDemers.jpg" alt="Frédéric Demers" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Frédéric Demers</span> <span class="title">DA interactif</span></div>
            <a target="_blank" href="http://twitter.com/fredDemers">@fredDemers</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="p-l-gag.mp3"></div>
          <img src="/assets/img/ironweb/participants/pl_gagnon.jpg" alt="Pierre-Luc Gagnon" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Pierre-Luc Gagnon</span> <span class="title">Programmeur,</span> <span class="title">Korem</span></div>
            <a target="_blank" href="http://twitter.com/pl_gagnon">@pl_gagnon</a>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="steph.mp3"></div>
          <img src="/assets/img/ironweb/participants/ssalman.jpg" alt="Stéphanie Salman" />
            <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Stéphanie Salman</span> <span class="title">Chargée de projet,</span> <span class="company">Libéo</span></div>
          </div>
        </li>
        <li>
          <div class="play-pause" data-source="greg.mp3"></div>
          <img src="/assets/img/ironweb/participants/gelendir.jpg" alt="Gregory Eric Sanderson" />
          <div class="participant">
            <div class="bubble"></div>
            <div class="info"><span class="name">Gregory Eric Sanderson</span> <span class="title">Programmeur,</span> <span class="company">Libéo</span></div>
            <a target="_blank" href="http://twitter.com/gelendir">@gelendir</a>
        </div>
      </ul>
    </div>
  </div>
</div>

{% endblock %}