{% extends "blocks/base.html" %}

{% block title %}Iron Web en direct | {{ parent() }}{% endblock %}

{% block specialclass %}ironweb-live {{ parent() }}{% endblock %}

{% block content %}

<div class="ros-wrapper">
  <div class="page-content-block clearfix">
    <div class="iw-live-content">
      <div class="wrapper">
        <div id="iw-live-videos">
          <div class="options">
            <ul>
              <li class="tab-1 active"><div class="corner">Équipe Jaune</div></li>
              <li class="tab-2"><div class="corner">Équipe Rouge</div></li>
              <li class="tab-3">Événements spéciaux</li>
            </ul>
          </div>
          <div class="swap">
            <div class="video">
              <h2>Suivez les participants en temps réel...</h2>
            </div>
            <div class="chat">
              <h2>Commentez la compétition</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}