{% extends "blocks/base.html" %}

{% block title %}Iron Web en direct | {{ parent() }}{% endblock %}

{% block specialclass %}ironweb-live {{ parent() }}{% endblock %}

{% block content %}

<div class="ros-wrapper">
    <div class="iw-live-content">
      <div class="wrapper">
        {% if not ironweb_iframe or ironweb_iframe >= 2 %}
        <div id="iw-live-header">
          <div id="iw-logo-live">
            <img class="icon" src="/assets/img/ironweb/live/logo-icon.png" alt="Iron Web icône" />
            <div class="info">
              <img class="label" src="/assets/img/ironweb/live/logo-label.png" alt="Iron Web" />
              <div class="lieu">Une présentation de <img src="/assets/img/ironweb/deloitte.png" alt="Deloitte" /></div>
            </div>
          </div>
          <div id="iw-desc-live">
            <h1><span>2</span> équipes, <span>10</span> participants, <span>48</span> heures</h1>
            <p id="iw-short-description">Découvrez des pros du web à Québec et interagissez avec eux.<br/>
              Suivez les en temps réel durant toute la compétition et tentez
               de deviner quelle sera l’équipe qui en ressortira gagnante. 
            <p class="more"><a href="/iron-web/?live" aria-describedby="iw-short-description">En savoir plus</a>
          </div>
        </div>
        {% endif %}
        <div id="iw-live-videos">
          <div class="options">
            <ul>
              <li data-channel="ironweb_jaunes" class="tab-1{% if ironweb_live_channel == 'ironweb_jaunes' %} active{% endif %}"><div class="corner">Équipe Jaune</div></li>
              <li data-channel="ironweb_rouges" class="tab-2{% if ironweb_live_channel == 'ironweb_rouges' %} active{% endif %}"><div class="corner">Équipe Rouge</div></li>
              <li data-channel="ironweb" class="tab-3{% if ironweb_live_channel == 'ironweb' %} active{% endif %}">Lancement, entrevues et +</li>
            </ul>
          </div>
          <div class="swap">
            <div class="video">
              <h2>Suivez les participants en temps réel...</h2>
            </div>
            <div class="chat">
              <h2>Commentez la compétition</h2>
            </div>
            <iframe src="http://cdn.livestream.com/embed/{{ ironweb_live_channel }}?layout=3&autoPlay=true&width=904&height=400" width="904" height="400" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
          </div>
        </div>
        {% if not ironweb_iframe or ironweb_iframe >= 3 %}

        
        <div id="iw-live-votes">
          <div id="iw-live-votes-encours">
      <h2>Vote en cours</h2>
            <div class="clearfix vote_en_cours">
              <div class="vote_question">
          <div class="qst"><img src="/assets/img/loader-votes.gif" alt="chargement"   width="16" height="16"/></div>
                  <div class="vote_boutons_wrp">
                        <div class="vote_boutons clearfix">
                                <a href="#" data-teams="1" class="v_jaune">Voter Jaune</a>
                                <a href="#" data-teams="2" class="v_rouge">Voter Rouge</a>
              </div>
                            <div class="vote_form clearfix">
                                <form id="" method="post">
                                  <p class="clearfix">
                                      <label for="email">Courriel</label>
                                        <input type="text" id="email" name="email"/><input type="submit" value="Voter" class="btn_envoyer"/>
                                        <input type="hidden" id="iw_b" name="iw_b" value=""/>
                                        <input type="hidden" id="iw_real" name="iw_real" value=""/>
                                        <input type="hidden" name="iw_team" id="iw_team" value=""/>
                                    </p>
                                    <p class="err ermail">Courriel non valide</p>
                                </form>
                            </div>
                          <p class="voteRetour">&nbsp;</p>
                    </div>
                </div>
                <div class="vote_result_live">
                  <div class="e_rouge">
                      <div class="live_res_txt">&nbsp;</div>
                        <div class="live_res_bar"><span>&nbsp;</span></div>
                   </div>
                  <div class="e_jaune">
                      <div class="live_res_txt">&nbsp;</div>
                        <div class="live_res_bar"><span>&nbsp;</span></div>
                   </div>
                </div>
            </div><!-- / vote_en_cour -->
            </div><!-- / iw-live-votes-encours-->
            
           <div id="iw-live-votes-precedent">
           <h2>Vote précédent</h2>
           <div class="clearfix vote_precedent">
              <div class="vote_question">
                    <div class="qst"><img src="/assets/img/loader-votes.gif" alt="chargement"   width="16" height="16"/></div>
                    <div class="res">
                        <div class="e_rouge">75%</div>
                        <div class="e_jaune">25%</div>
                    </div>
        </div>
      </div>
    </div>        
        </div><!-- / iw-live-votes-precedent -->
        <div id="iw-live-footer">
          <div class="col activities">
          <h2>À venir...</h2>
            <div class="nfeed">  
                    <p class="nloader"><img src="/assets/img/loader.gif" alt="chargement"   width="16" height="16"/></p>
              </div>
          </div>
          <div class="col activities">
                <h2>Ce qui s’est passé...</h2>
              <div class="nfeed">
                    <p class="nloader"><img src="/assets/img/loader.gif" alt="chargement"   width="16" height="16"/></p>
                </div>
          </div>



          <div class="col sponsors">
            <h2>Nos commanditaires</h2>
            <div id="commanditaires-principaux" class="white-thumb commanditaires-principaux iron-web">
              <a target="blank" href="https://www.eq3.com">
                <img src="/assets/img/partenaires/200x89/eq3_dark.png" alt="EQ3"><br/>
                <span>Meubles et décor</span>
              </a>
              <a target="blank" href="https://www.deloitte.ca">
                <img src="/assets/img/partenaires/200x89/deloitte.png" alt="Deloitte"><br/>
                <span>Présentateur du Iron Web 2012</span>
              </a>
              <a target="blank" href="http://www.fringalemag.com/">
                <img src="/assets/img/partenaires/200x89/fringale_dark.png" alt="La Fringale"><br/>
                <span>Repas des participants</span>
              </a>
              <a target="blank" href="http://fr.fotolia.com/">
                <img src="/assets/img/partenaires/200x89/fotolia.png" alt="Fotolia"><br/>
                <span>Banque de photos</span>
              </a>
              <a target="blank" href="http://www.infomercier.com/">
                <img src="/assets/img/partenaires/200x89/infomercier.png" alt="Infomercier"><br/>
                <span>Prêt matériel</span>
              </a>
            </div>
            <h2>Distribution du vote</h2>
            <p>Public : 5% (jeudi) + 5% (vendredi)*</p>
            <p>Ville de Québec : 20%</p>
            <p>Jury officiel : 70%</p>
            <p style="font-size:12px;padding-top:12px">*Les résultats des votes du public seront également pris en compte par la ville et nos juges!</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
