{% extends "blocks/base.html" %}

{% block title %}Iron Web en direct | {{ parent() }}{% endblock %}

{% block specialclass %}ironweb-live {{ parent() }}{% endblock %}

{% block content %}

<div class="ros-wrapper">
    <div class="iw-live-content">
      <div class="wrapper">
        <div id="iw-live-header">
          <div id="iw-logo-live">
            <img class="icon" src="/assets/img/ironweb/live/logo-icon.png" alt="Iron Web icône" />
            <div class="info">
              <img class="label" src="/assets/img/ironweb/live/logo-label.png" alt="Iron Web" />
              <div class="lieu">Une présentation de <img src="/assets/img/ironweb/deloitte.png" alt="Deloitte" /></div>
            </div>
          </div>
          <div id="iw-desc-live">
            <h1><span>2</span> équipes, <span>10</span> participants, <span>48</span> heures</h1>
            <p id="iw-short-description">Découvrez des pros du web à Québec et interagissez avec eux.<br/>
              Suivez les en temps réel durant toute la compétition et tentez
               de deviner quelle sera l’équipe qui en ressortira gagnante. 
            <p class="more"><a href="/iron-web/" aria-describedby="iw-short-description">En savoir plus</a>
          </div>
        </div>
        <div id="iw-live-videos">
          <div class="options">
            <ul>
              <li data-channel="ironweb_jaunes" class="tab-1{% if ironweb_live_channel == 'ironweb_jaunes' %} active{% endif %}"><div class="corner">Équipe Jaune</div></li>
              <li data-channel="ironweb_rouges" class="tab-2{% if ironweb_live_channel == 'ironweb_rouges' %} active{% endif %}"><div class="corner">Équipe Rouge</div></li>
              <li data-channel="ironweb" class="tab-3{% if ironweb_live_channel == 'ironweb' %} active{% endif %}">Lancement, entrevues et +</li>
            </ul>
          </div>
          <div class="swap">
            <div class="video">
              <h2>Suivez les participants en temps réel...</h2>
            </div>
            <div class="chat">
              <h2>Commentez la compétition</h2>
            </div>
            <iframe src="http://cdn.livestream.com/embed/{{ ironweb_live_channel }}?layout=3&autoPlay=false&width=904&height=400" width="904" height="400" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
          </div>
        </div>
        <div id="iw-live-footer">
          <div class="col activities">
            <h2>À venir...</h2>
            <div class="news">
              <h3>La pizza arrive!</h3>
              <p>Num num num</p>
            </div>
            <div class="news">
              <h3>La pizza arrive!</h3>
              <p>Num num num</p>
            </div>
            <div class="news">
              <h3>La pizza arrive!</h3>
              <p>Num num num</p>
            </div>
          </div>
          <div class="col activities">
            <h2>Ce qui s’est passé...</h2>
            <div class="news">
              <h3>La pizza est froide</h3>
              <p>Ark ark ark</p>
            </div>
            <div class="news">
              <h3>La pizza est froide</h3>
              <p>Ark ark ark</p>
            </div>
            <div class="news">
              <h3>La pizza est froide</h3>
              <p>Ark ark ark</p>
            </div>
          </div>
          <div class="col sponsors">
            <h2>Nos commanditaires</h2>
            <div id="commanditaires-principaux" class="white-thumb commanditaires-principaux">
              <a href="http://www.libeo.com/" target="_blank"><img src="/assets/img/partenaires/225x100/libeo.png" alt="Libéo" /></a>
              <a href="http://www.vetiq.org/" target="_blank"><img src="/assets/img/partenaires/225x100/vetiq.png" alt="Vétiq" /></a>
              <a href="http://www.korem.com/" target="_blank"><img src="/assets/img/partenaires/225x100/korem.png" alt="Korem" /></a>
              <a href="http://www.ixmedia.com/" target="_blank"><img src="/assets/img/partenaires/225x100/ixmedia.png" alt="iXmédia" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}