{% extends "blocks/base.html" %}

{% block title %}Horaire et programmation | {{ parent() }}{% endblock %}

{% block content %}

<div id="horaire-page">
  <h1>Horaire et programmation</h1>
  <div id="horaire-parcours">
    <h2>Voir les parcours suggérés…</h2>
  </div>
  <div class="horaire-tab-standalone">
    <h2>Mercredi, 22 février</h2>
    <p>
      5 @ 7 de lancement et début de la compétition
      <strong>Iron Web</strong>
    </p>
    <p class="cocktail">Cocktail de bienvenue offert par Mirego</p>
  </div>
  <div class="horaire-tab-wrapper">
    <ul class="horaire-tab-list">
      <li class="horaire-tab-active">
        <a data-tab="jeudi" href="#jeudi">Jeudi, 23 février</a>
      </li>
      <li>
        <a data-tab="vendredi" href="#vendredi">Vendredi, 24 février</a>
      </li>
    </ul>
    <div class="horaire-tab-content horaire-tab-content-active" id="jeudi">
      <h2 class="assistive-text">Jeudi, 23 février</h2>
      <div class="horaire-table-wrapper">
        <table>
          <tbody>
            <tr>
              <th>
                <h3>7 h 15</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      Accueil et déjeuner
                      <span>– 7h15 à 8h30</span>
                    </h5>
                  </header>
                  <p>Déjeuner (viennoiseries, cafés, jus)</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>8 h 30</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      <a href="/programmation/1/">Peter Morville
                      <span>– 8h30 à 10h00</span></a>
                    </h5>
                  </header>
                  <p>Ubiquitous Information Architecture: A Framework for Cross-Channel Strategy</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>10 h 00</h3>
              </th>
              <td class="pause" colspan="4">
                <article>
                  <h4>Pause <span class="sponsor">Offerte par Québec International</span></h4>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>10 h 30</h3>
              </th>
              <td rowspan="2">
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5>Panel</h5>
                    <h6>10h30 à 12h00</h6>
                  </header>
                  <p>Enseignement du web</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/6/">Catherine Morissette</a></h5>
                    <h6>10h30 à 11h15</h6>
                  </header>
                  <p>Le web et les vides juridiques: difficultés d’application</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/14/">Rémi Prévost</a></h5>
                    <h6>10h30 à 11h15</h6>
                  </header>
                  <p>Introduction à Ruby</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/10/">Isabelle Grenier</a></h5>
                    <h6>10h30 à 11h15</h6>
                  </header>
                  <p>Le Festival d’été de Québec et les médias sociaux : informer et divertir des milliers d’amis</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>11 h 15</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/13/">Michael Carpentier</a></h5>
                    <h6>11h15 à 12h00</h6>
                  </header>
                  <p>L'accessibilité c'est bien, être compris c'est mieux : écrire pour le Web pour les gens "normaux"</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/38/">Shannon Smith</a></h5>
                    <h6>11h15 à 12h00</h6>
                  </header>
                  <p>The future is mobile</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/36/">Marie-Joseée Soucy</a></h5>
                    <h6>11h15 à 12h00</h6>
                  </header>
                  <p>Passer du média traditionnel aux nouvelles technologies : pas si facile!</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>12 h 00</h3>
              </th>
              <td class="pause" colspan="4">
                <article>
                  <h4>Dîner <span class="sponsor">Offert par Québec International</span></h4>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>13 h 15</h3>
              </th>
              <td rowspan="2">
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5><a href="/programmation/15/">Panel</a></h5>
                    <h6>13h15 à 14h00</h6>
                  </header>
                  <p>L'entrepreneuriat</p>
                </article>
              </td>
              <td class="blank"></td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5>Ville de Québec</h5>
                    <h6>13h15 à 14h00</h6>
                  </header>
                  <p>(Détails à venir)</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/29/">Éric Morency</a></h5>
                    <h6>13h15 à 14h00</h6>
                  </header>
                  <p>BYOD et la sécurité (Bring Your Own Device)</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>14 h 00</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/8/">Daniel Lafrenière</a></h5>
                    <h6>14h00 à 14h45</h6>
                  </header>
                  <p>On veut pas le sawère, on veut le wère !</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/5/">François Gaumond</a></h5>
                    <h6>14h00 à 14h45</h6>
                  </header>
                  <p>Savoir engager un véritable dialogue multicanal</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/35/">Marc-Étienne Charron</a></h5>
                    <h6>14h00 à 14h45</h6>
                  </header>
                  <p>La sous-traitance des systèmes de paiement en ligne… Gardez le contrôle!</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>14 h 45</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5><a href="/programmation/42/">Pierre Lavoie</a></h5>
                    <h6>14h45 à 15h30</h6>
                  </header>
                  <p>Google Earth : La synergie géospatiale au service des applications d’entreprise</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/30/">Guy Labrecque</a></h5>
                    <h6>14h45 à 15h30</h6>
                  </header>
                  <p>Le recrutement étudiant 2.0</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/7/">Rémy Savard</a></h5>
                    <h6>14h45 à 15h30</h6>
                  </header>
                  <p>Nouveaux APIs (HTML5/CSS3/JS)</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/11/">Jacques Warren</a></h5>
                    <h6>14h45 à 15h30</h6>
                  </header>
                  <p>Les médias sociaux sont si peu sociaux</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>15 h 30</h3>
              </th>
              <td class="pause" colspan="4">
                <article>
                  <h4>Pause  <span class="sponsor">Offerte par Québec International</span></h4>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>15 h 45</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5>Entrevue</h5>
                    <h6>15h45 à 16h30</h6>
                  </header>
                  <p>Le web adulte</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/32/">Patrice Caron</a></h5>
                    <h6>15h45 à 16h30</h6>
                  </header>
                  <p>Les réseaux sociaux : nouveau terrain de jeu des méchants?</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/33/">Geoffroi Garon</a></h5>
                    <h6>15h45 à 16h30</h6>
                  </header>
                  <p>Les plates-formes d’innovation ouverte</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/34/">Marc-André Cournoyer</a></h5>
                    <h6>15h45 à 16h30</h6>
                  </header>
                  <p></p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>16 h 30</h3>
              </th>
              <td class="blank"></td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/37/">Samuel Matteau</a></h5>
                    <h6>16h30 à 17h15</h6>
                  </header>
                  <p>Le Cinéma n’est pas mort - La mutation du cinéma par le web.</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/4/">Stéphane Hamel</a></h5>
                    <h6>16h30 à 17h15</h6>
                  </header>
                  <p>Web analytics : êtes-vous sur la bonne voie ?</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/28/">Cynthia Savard</a></h5>
                    <h6>16h30 à 17h15</h6>
                  </header>
                  <p>Concevoir pour les différences culturelles</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>17 h 00</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      5 @ 7 : Dégustation de vins
                      <span>– 17h00 à 19h00</span>
                    </h5>
                  </header>
                  <p>Avec les formateurs de SAVORI</p>
                  <p>Cocktail dînatoire</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>19 h 00</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      Soirée festive
                      <span>– 19h00 à 2h00</span>
                    </h5>
                  </header>
                  <p>Avec musique et prestation multimédia</p>
                </article>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="horaire-tab-content" id="vendredi">
      <h2 class="assistive-text">Vendredi, 24 février</h2>
      <div class="horaire-table-wrapper">
        <table>
          <tbody>
            <tr>
              <th>
                <h3>7 h 15</h3>
              </th>
              <td class="blank"></td>
              <td colspan="3" rowspan="2">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      Accueil et déjeuner
                      <span>– 7h15 à 8h30</span>
                    </h5>
                  </header>
                  <p>Déjeuner (viennoiseries, cafés, jus)</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>7 h 30</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5>
                      <a href="/programmation/40/">Nicolas Darveau- Garneau
                      <span>– 7h30 à 8h30</span></a>
                    </h5>
                  </header>
                  <p>Le Québec en urgence numérique</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>8 h 30</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5><a href="/programmation/27/">
                      Luke Wroblewski
                      <span>– 8h30 à 10h00</span></a>
                    </h5>
                  </header>
                  <p>Mobile Web Design Moves</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>10 h 00</h3>
              </th>
              <td class="pause" colspan="4">
                <article>
                  <h4>Pause</h4>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>10 h 30</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5><a href="/programmation/9/">Nicolas Roberge</a></h5>
                    <h6>10h30 à 12h00</h6>
                  </header>
                  <p>Les ingrédients du Web ubiquitaire</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/3/">Denis Boudreau</a></h5>
                    <h6>10h30 à 11h15</h6>
                  </header>
                  <p>SEO, Web mobile et accessibilité : Trinité du développement Web inclusif</p>
                </article>
              </td>
              <td class="blank"></td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/1/">Charles-Alain Roy</a></h5>
                    <h6>10h30 à 11h15</h6>
                  </header>
                  <p>Les fonctionnalités avancées de Google Analytics à travers des exemples concrets</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>11 h 15</h3>
              </th>
              <td>
                <article>
                  <header>
                    <h4 class="track1">Salle iXmedia</h4>
                    <h5><a href="/programmation/12/">Mario Asselin</a></h5>
                    <h6>11h15 à 12h00</h6>
                  </header>
                  <p>OpenGouv / OpenData : le mode résistance n’a plus sa place!</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track2">Salle Libéo</h4>
                    <h5><a href="/programmation/31/">Joël Perras</a></h5>
                    <h6>11h15 à 12h00</h6>
                  </header>
                  <p>A Soft Introduction to Machine Learning</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track3">Salle VETIQ</h4>
                    <h5><a href="/programmation/44/">Julie Picard</a></h5>
                    <h6>11H15 À 12H00</h6>
                  </header>
                  <p>La gestion des médias sociaux et de la webtélé par l'approche journalistique</p>
                </article>
              </td>
              <td>
                <article>
                  <header>
                    <h4 class="track4">Salle Korem</h4>
                    <h5><a href="/programmation/43/">Nicolas Gagnon</a></h5>
                    <h6>11H15 À 12H00</h6>
                  </header>
                  <p>La technologie au service de l’apprentissage et de l’enseignement à distance</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>12 h 00</h3>
              </th>
              <td class="pause" colspan="4">
                <article>
                  <h4>Dîner</h4>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>13 h 15</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      <a href="/programmation/41/">Jon Kolko
                      <span>– 13h15 à 14h30</span></a>
                    </h5>
                  </header>
                  <p>The next step for design: Social Entrepreneurship</p>
                </article>
              </td>
            </tr>
            <tr>
              <th>
                <h3>14 h 30</h3>
              </th>
              <td colspan="4">
                <article>
                  <header>
                    <h4>Grand hall</h4>
                    <h5>
                      Clôture de l'évènement
                      <span>– 14h30 à 17h00</span>
                    </h5>
                  </header>
                  <p>Présentation des projets Iron Web</p>
                  <p>Mot de la fin</p>
                </article>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
