{% extends "blocks/base.html" %}

{% block content %}

          <div class="page-content-block clearfix">
            <div class="left-side main">
              <div id="vox-pop" class="white-box">
                <div class="thumb"><a class="btn-vox-pop" href="http://vimeo.com/29752446">Écoutez<strong>le Vox Pop</strong></a> <img src="/assets/img/vox-pop-preview.jpg" alt="Apercu du Vox Pop" /></div>

                <div class="content">
                  <h3>Le Web made in Québec</h3>

                  <p>Pour les gens de Québec comme ailleurs, le web est devenu partie intégrante de nos vies. C’est un outil de travail, une industrie florissante, une mine de renseignements et un mode de vie.</p>
                </div>

                <h2 class="social-bar-title">Suivez-nous</h2>
                <ul class="social-bar list-custom list-hori clearfix">

                  <li><a class="btn-facebook" href="https://www.facebook.com/webaquebec" title="Suivez-nous sur Facebook">Facebook</a></li>

                  <li><a class="btn-twitter" href="https://twitter.com/webaquebec" title="Suivex-nous sur Twitter">Twitter</a></li>
                </ul>
              </div>
            </div>

            <div class="right-side main">
              <div id="important-numbers">
                <h2 class="assistive-text">Le WAQ c'est&nbsp;:</h2>
                <ul id="numbers-viewport" class="list-custom list-hori clearfix">
                  <li>
                    <span class="number">4</span>

                    <em>invités internationaux</em>
                  </li>

                  <li>
                    <span class="number">500</span>

                    <em>participants</em>
                  </li>

                  <li>
                    <span class="number">33</span>

                    <em>conférenciers du<br />
                    Québec</em>
                  </li>
                </ul>
              </div>

              <div id="conferenciers">
	
	
			 	   <ul class="list-custom list-hori clearfix">
				    {% for row in vedettes %}
                  <li><a href="{{ route(route_single, {'id': row.id, 'name': row.titleSlug}) }}"><span>{{row.presenter_name}}</span> <img src="/assets/img/conferenciers/147x160/{{row.presenter_image}}" width="147" height="160" alt="{{row.presenter_name}}" /></a></li>
				    {% endfor %}
				 </ul>

                <div class="btn-more-wrapper">
                  <a href="/programmation/" style="clear: both;">Consulter la programmation</a>
                </div>
              </div>
            </div>
          </div>

          <div class="sep-shadow"></div>

          <div class="page-content-block clearfix">
            <div class="left-side main">
              {% include 'blocks/news_box.html' %}
              {% include 'blocks/newsletter_box.html' %}
            </div>

            <div class="right-side main">
              <div class="left-side rs-content-box iron-web">
                <h3 class="box-header">Iron Web</h3>

                <div class="white-thumb">
                  <a class="btn-vox-pop" href="http://vimeo.com/29847338">Retour sur le <strong>Iron Web 2011</strong></a>
                </div>

                <p>Le Iron Web est une compétition de 48 heures, diffusée en direct, par et pour les passionnés du Web qui désirent participer au projet le plus court mais le plus intense de leur vie.</p>

                <div class="btn-more-wrapper">
                  <a href="/iron-web/" title="Tout sur la compétition Iron Web">Tout sur la compétition</a>
                </div>
              </div>

              <div class="right-side rs-content-box">
                <h3 class="box-header">Commanditaires principaux</h3>

                <div id="commanditaires-principaux" class="white-thumb commanditaires-principaux">
                  <a href="http://www.libeo.com/" target="_blank"><img src="/assets/img/partenaires/225x100/libeo.png" alt="Libéo" /></a> <a href="http://www.vetiq.org/" target="_blank"><img src="/assets/img/partenaires/225x100/vetiq.png" alt="Vétiq" /></a> <a href="http://www.korem.com/" target="_blank"><img src="/assets/img/partenaires/225x100/korem.png" alt="Korem" /></a> <a href="http://www.ixmedia.com/" target="_blank"><img src="/assets/img/partenaires/225x100/ixmedia.png" alt="iXmédia" /></a>
                </div>

                <p>Sans la participation de ses nombreux commanditaires, le WAQ ne pourrait offrir un tel niveau de qualité à un coût si peu élevé. Merci à tous nos partenaires.</p>

                <div class="btn-more-wrapper">
                  <a href="/partenaires/" title="Tout sur nos fantastiques partenaires">Tout sur les partenaires</a>
                </div>
              </div>
            </div>
          </div>

{% endblock %}