{% extends "blocks/base.html" %}

{% block title %}Partenaires | {{ parent() }}{% endblock %}

{% block content %}
  <div class="p-wrapper">
    <div class="page-content-block clearfix">

      <h3 class="box-header">Commanditaires principaux</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.ixmedia.com/"><img src="/assets/img/partenaires/200x89/ixmedia.png" alt="iXmédia"></a></li>
        <li><a target="blank" href="http://www.libeo.com/"><img src="/assets/img/partenaires/200x89/libeo.png" alt="Libeo"></a></li>
        <li><a target="blank" href="http://www.vetiq.org/"><img src="/assets/img/partenaires/200x89/vetiq.png" alt="Vétiq"></a></li>
        <li><a target="blank" href="http://www.korem.com/"><img src="/assets/img/partenaires/200x89/korem-noir.png" alt="Korem"></a></li>
      </ul>

    </div>
    <div class="sep-shadow"></div>
    <div class="page-content-block clearfix">

      <h3 class="box-header">Commanditaires</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.quebecinternational.ca/"><img src="/assets/img/partenaires/200x89/quebec-international.png" alt="Québec International"></a></li>
      </ul>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://mirego.com/"><img src="/assets/img/partenaires/200x89/mirego.png" alt="Mirego"></a></li>
      </ul>

    </div>
    <div class="sep-shadow"></div>
    <div class="page-content-block clearfix">

      <h3 class="box-header">Partenaires publics</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.clddequebec.qc.ca/"><img src="/assets/img/partenaires/200x89/cldqc.png" alt="Centre local de développement de Québec"></a></li>
        <li><a target="blank" href="http://www.ville.quebec.qc.ca/"><img src="/assets/img/partenaires/200x89/ville-de-quebec.png" alt="Ville de Québec"></a></li>
      </ul>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.crecn.qc.ca/"><img src="/assets/img/partenaires/200x89/cre.png" alt="Conférence régionale des élus"></a></li>
      </ul>

    </div>
    <div class="sep-shadow"></div>
    <div class="page-content-block clearfix">

      <h3 class="box-header">Partenaires de services</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.zapquebec.org/"><img src="/assets/img/partenaires/200x89/zapqc.png" alt="ZAP Québec"></a></li>
        <li><a target="blank" href="http://www.bell.ca/"><img src="/assets/img/partenaires/200x89/bell.png" alt="Bell"></a></li>
      </ul>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://fernandezcom.ca"><img src="/assets/img/partenaires/200x89/fernandez-communication.png" alt="Fernandez Communication"></a></li>
        <li><a target="blank" href="http://savori.ca/"><img src="/assets/img/partenaires/200x89/savori.png" alt="Savori"></a></li>
        <li><a target="blank" href="http://www.cmorissette.com/"><img src="/assets/img/partenaires/200x89/catherine-morissette.png" alt="Catherine Morissette"></a></li>
        <li><a target="blank" href="https://www.eq3.com"><img src="/assets/img/partenaires/200x89/eq3.png" alt="EQ3"></a></li>
      </ul>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.fringalemag.com/"><img src="/assets/img/partenaires/200x89/fringale.png" alt="La Fringale"></a></li>
        <li><a target="blank" href="https://www.facebook.com/pages/Marc-Antoine-Jean-Photographe/73387032189"><img src="/assets/img/partenaires/200x89/marcographie.png" alt="Marcographie"></a></li>
        <li><a target="blank" href="http://fr.fotolia.com/"><img src="/assets/img/partenaires/200x89/fotolia.png" alt="Fotolia"></a></li>
      </ul>

    </div>
    <div class="sep-shadow"></div>


    <div class="page-content-block clearfix">

      <h3 class="box-header">Partenaires médias</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www3.infopresse.com/jobs/"><img src="/assets/img/partenaires/200x89/infopresse-jobs_blanc.png" alt="Infopresse Jobs"></a></li>
        <li><a target="blank" href="http://www.espresso-jobs.com/"><img src="/assets/img/partenaires/200x89/espresso-jobs.png" alt="Espresso-Jobs"></a></li>
        <li><a target="blank" href="http://macquebec.com/"><img src="/assets/img/partenaires/200x89/mac-quebec.png" alt="Mac Québec"></a></li>
      </ul>

    </div>
    <div class="sep-shadow"></div>

    <div class="page-content-block clearfix">

      <h3 class="box-header">Collaborateurs</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.socom.ca/"><img src="/assets/img/partenaires/200x89/socom.png" alt="La Société des communicateurs de Québec"></a></li>
        <li><a target="blank" href="http://www.alliancenumerique.com/"><img src="/assets/img/partenaires/200x89/alliance-numerique.png" alt="Alliance Numérique"></a></li>
      	<li><a target="blank" href="http://www.aqiii.org/"><img src="/assets/img/partenaires/200x89/AQIII.png" alt="L'Association québécoise des informaticiennes et informaticiens indépendants" /></a></li>
        <li><a target="blank" href="http://www.w3qc.org/"><img src="/assets/img/partenaires/200x89/w3qc.png" alt="W3 Québec"></a></li>
	</ul>

    </div>
    <div class="sep-shadow"></div>

    <div class="page-content-block clearfix">

      <h3 class="box-header">Supporteurs</h3>

      <ul class="list-custom list-hori">
        <li><a target="blank" href="http://www.qcmedia.ca/"><img src="/assets/img/partenaires/200x89/qcmedia.png" alt="QCmédias"></a></li>
        <li><a target="blank" href="http://www.kronos-web.com/"><img src="/assets/img/partenaires/200x89/kronoshori.png" alt="Kronos"></a></li>
        <li><a target="blank" href="http://www.umen.ca/"><img src="/assets/img/partenaires/200x89/umen.png" alt="UMEN"></a></li>
        <li><a target="blank" href="http://aptgeek.com/"><img src="/assets/img/partenaires/200x89/aptgeek.png" alt="AptGeek Technologies"></a></li>
      </ul>

    </div>
  </div>
{% endblock %}