<div id="news-box">
  <h3 class="box-header">Dernières nouvelles</h3>
  <ul class="list-custom">
    <li>
      <h4>Modification de deux plages horaires</h4>
      <p>Veuillez prendre note que deux conférences ont été interchangées suite à un ajustement dernière minute, soit 
        la conférence de <a href="/programmation/37/">Samuel Matteau</a> (maintenant vendredi 10h30, salle Libéo) 
        et celle de <a href="/programmation/3/">Denis Boudreau</a>
        (maintenant jeudi, 16h30, salle Libéo).
        </p>
    </li>
    <li>
      <h4>Coup fumant pour le WAQ!</h4>
      <p><a href="/programmation/47/">Paul Adams</a> de Facebook donnera le 
        coup d’envoi mercredi soir, le 22 février, 
        tandis que <a href="/programmation/40/">Nicolas Darveau-Garneau</a>,
        directeur général de Google Québec, offrira un déjeuner-conférence vendredi matin, le 24 février.
      </p>
    </li>
    <li>
      <h4>Des sommités internationales à Québec!</h4>
      <p>Le WAQ a le plaisir d’offrir aux participants des leaders de l’industrie dont <a href="/programmation/41/">Jon Kolko</a>, 
        ergonome designer ayant travaillé dans les plus grandes boîtes aux États-Unis, 
        <a href="/programmation/1/">Peter Morville</a>, le père de l’architecture d’information et 
        <a href="/programmation/27/">Luke Wroblewski</a>, véritable référence du design mobile dans le monde.
      </p>
    </li>
    <li>
      <h4>Découvrez les <a class="read-more" href="/iron-web/">participants Iron Web 2012</a>!</h4>
      <p>Nous sommes fiers de vous présenter les 10 participants à la 2e édition du Iron Web. 
        Apprenez en plus sur ces courageux professionnels et étudiants du Web à Québec ayant survécu à notre rigoureux processus de sélection. 
        Découvrez leur personnalité, leur visage et tentez de deviner quel heureux jumelage nous avons concocté!
      </p>
    </li>
  </ul>
</div>
