@import "reset";
@import "fonts";
@import "helpers";

//#########################################################
//   Vars    ##############################################
  
$link-color: #fff;
$main-blue: #0087ba;
$main-blue-5: darken($main-blue, 4%);
$main-blue-10: darken($main-blue, 7%);
$main-blue-20: darken($main-blue, 13%);
$main-blue-30: darken($main-blue, 20%);
$main-light-blue: #4cabcf;
$main-gray: #3a3a3a;
$main-light-gray: #e1e1e1;
$main-xlight-gray: #f5f5f5;

//#########################################################
//   Utility Styles     ###################################

.clearfix{@include clearfix();}

.to-caps{text-transform: uppercase;}
.to-italic{font-style: italic};
.t-indent{text-indent: -90000px;}
.list-custom{padding: 0; margin: 0; list-style: none;}
.list-hori {margin: 0 0 1.25em;}
.list-hori li{float: left; display: block;}
.ow{
  width: 100%;
  min-width: 960px;
  background: transparent url("../img/back-hollow-top-right.png") no-repeat center top;
}
.wrapper{width: 960px; margin: 0 auto;}
.light-white-gradient{@include box-gradient(#fff, #e9e9e9);}

.whitetext-shadow-up{text-shadow: 0 -1px $main-blue-20;}
.whitetext-shadow-down{text-shadow: 0 1px $main-blue-30;}

.left-side{float: left;}
.left-side.main{width: 350px;}
.right-side{float: right;}
.right-side.main{width: 600px;
  h1{font-size: 250%; padding-bottom: 5px; margin-bottom: 20px; border-bottom: 1px dotted $main-light-blue; font-family: MisoLight;}
}
.ros-wrapper .right-side.main, .ip-wrapper .right-side.main{width: 580px;}

.right-side{
  .left-side, .right-side{width: 290px;}
} 

.ros-wrapper{ 
  .right-side{
    .left-side, .right-side{width: 270px;}
  }
}

.ip-wrapper{
  .right-side{
    .left-side{width: 170px;}
    .right-side{width: 370px;}
  }
  a:link:hover{text-decoration: underline;}
}

.p-wrapper{
  ul{padding: 20px; background: rgba(#fff, 0.25); @extend .clearfix;
    li{display: block; margin-right: 0px; width: 225px; height: 100px;
      &.last{margin-right: 0;}
    }
  }
}

.sep-shadow{height: 14px; width: 960px; background: url(../img/sep-shadow.png) no-repeat; margin-bottom: 20px;}

.white-box{@include border-radius(3px); border: 5px solid $main-xlight-gray; padding: 5px; background: #fff;
  h3{color: $main-gray; margin-bottom: 10px; font-size: 120%; font-weight: bold; font-family: Arial, sans-serif!important;}
  p{color: $main-light-blue; margin-bottom: 10px;}
}

.white-box+.white-box{margin-top: 15px;}
.white-box+.ls-content-box{margin-top: 25px;}
.ls-content-box+.ls-content-box{margin-top: 15px;}

.btn{position: relative; color: #000; padding: 5px;  @include border-radius-left(5);}
.btn-white{/*@extend .light-white-gradient;*/ background: #fff; @include box-shadow(0 0 3px #000)}
.btn-vox-pop{display: block; background: rgba(#000, 0.6) url(../img/btn-vox-pop.png) no-repeat 10% 50%; position: absolute; padding: 10px 10px 10px 50px; @include border-radius(5px); @include box-shadow(0 2px 3px rgba(#000, 0.3)); @extend .to-caps; font-family: MisoLight; font-size: 130%; line-height: 0.9; @include transition(all 0.3s ease-in-out);
  strong{display: block; font-family: MisoRegular;}
}
.btn-vox-pop:hover{background-color: rgba(#000, 0.8); cursor: pointer;}

.logo-partenaires{display: block; position: absolute; text-indent: -90000px;}


//#########################################################
//   General     ##########################################

body{background: $main-blue url(../img/back-main.png); font-family: Arial, sans-serif;}

a{color: $link-color; text-decoration: none; outline: none;}

h2,h3{font-family: MisoLight;}
h4,h5{font-family: MisoRegular;}

p{line-height: 1.4;}

//#########################################################
//   Header     ###########################################

header{height: 180px;}
header .wrapper{position: relative; padding: 50px 0 0 0;}

.logo-princ{width: 254px; height: 87px; background: url(../img/logo-princ.png) no-repeat; float: left;}
.logo-princ span{display: block;}
.logo-accronym{height: 97px;}
.logo-full-text{font-size: 100%; font-family: MisoLight; letter-spacing: 0.1em;}

.event-details{float: left; margin-left: 30px;
  .lieu{display: block; color: $main-gray; font-family: MisoRegular; font-size: 120%; text-shadow: 1px 1px 0 $main-light-blue;}
  .lieu * { color: $main-gray; }
  .dates{display: block; font-family: MisoRegular; font-size: 160%; @extend .whitetext-shadow-up;}
  .btn-inscription{display: block; height: 34px; width: 114px; position: relative; margin-top: 5px;
    img{position: absolute; top: 0; left: 0; @include transition(opacity 0.5s ease-in-out);}
    img.btn-insc-normal{z-index: 2;}
    img.btn-insc-normal:hover{opacity: 0;}
  }
  //.btn-inscription:hover{background-position: 0 -34px;}

}

nav.top-right{position: absolute; top: 10px; right: 0;
  ul li{font-family: MisoLight; @extend .to-caps; margin-left: 10px;}
  ul li a:link:hover{text-decoration: underline;}
}

nav.menu-princ{float: right;
  ul li{ margin-bottom: 3px;
    a{background: $main-blue-10; @include border-radius(5px); display: block; padding: 3px 10px; @extend .to-caps; font-size: 130%; font-family: MisoRegular; text-shadow: 0 -1px $main-blue-20; @include transition(all 0.2s ease-in-out);}
    a:hover{background: $main-blue-5;}
    a.disabled, a.disabled:hover{ opacity: 0.5; background: $main-blue+5;}
  }
}


//#########################################################
//   Home             #####################################

#commanditaires-principaux {
  position: relative;
  padding: 1em 0;
  height:154px;
  min-height:154px;
  a 
  {
    text-align: center;
    display: block;
    position:absolute;
    top:40px;
    left:0;
    background: white;
    width:280px;
	
    img 
    {
      text-align: center;
      margin: 0 auto;
      opacity: 0.8;
      @include transition(opacity 0.1s ease-in-out)
    }

  }
  a:hover img
  {
    opacity: 1;
  }
}

//#########################################################
//   Main Content     #####################################

#page-content{background: url(../img/back-zebre.png) no-repeat top center; padding: 25px 0;}
.page-content-block{margin-bottom: 20px;}

h3.box-header{font-size: 180%; @extend .to-caps; @extend .whitetext-shadow-up; margin-bottom: 15px;}
.ip-wrapper .right-side.main .box-header{padding-bottom: 5px; border-bottom: 1px dotted $main-light-blue;}

.btn-more-wrapper{
  a{
    display: block; text-align: right; font-family: MisoRegular; font-size: 110%; @extend .to-caps; background: url(../img/icone-plus.png) no-repeat center right; padding: 1px 25px 0 0; min-height: 21px; margin-top: 15px;
    opacity: 0.8;
    @include transition(opacity 0.1s ease-in-out);
    &:hover { opacity: 1; }
  }
}

//#########################################
//   Iron Web Header     ##################

#iw-header{
  position: relative;
  margin-right:18px;
  .rs-content-box
  {
    margin-bottom:20px;
    width:330px;
  }
}

#logo-iw{
  position: relative;
  margin-bottom:10px;
  h1
  {
    height: 102px;
    width: 361px;
    background: url(../img/logo-ironweb.png) no-repeat;
  }
  span{
    position: absolute;
    bottom: 5px;
    left: 113px;
    font-family: MisoLight;
    font-size: 90%;
  }
}

#btn-candidature
{
  display: block; 
  padding: 10px; 
  margin-bottom:20px;
  @include border-radius(5px); 
  @include box-shadow(0 3px 3px rgba(#000, 0.2)); 
  background:#006D96;
  width: 270px; 
  text-align: center;
  
  span
  {
    display: block;
  }
  .date-limite{
    font-size: 120%; 
    font-family: Miso; 
    @extend .to-caps; 
    color: #ffffff;
    padding-top:8px;
  }
}

#iw-slideshow
{
  position:relative;
  float:left;
  width:570px;
  .fadein {
    position:relative; 
    width:570px;
    height:332px;
    .slide 
    { 
      border: 5px solid $main-xlight-gray;
      @include border-radius(3px);
      position:absolute; 
      left:0; 
      top:0;
      height:342px;
      width:570px;
      img,
      div
      {
        position:absolute;
      }
      .title
      {
        top:0;
        font-size:30px;
        padding:12px;
      }
      .sub-title
      {
        top:34px;
        padding:12px;
        font-size:18px;
      }
      .caption
      {
        bottom:0;
        left:0;
        width:572px;
        font-size:12px;
        padding:8px 12px;
      }
      img
      {      
      }
    }
  }
}

#iw-avantages
{

  width:370px;
  float:left;
  li
  {
    line-height:20px;
  }
  .new
  {
    font-size:11px;
    font-style:italic;
  }
}

#iw-temoignages 
{
  width:590px;
  float:left;
  ul
  {
    position:relative;
    list-style-type:none;
    display:block;
    width:376px;
    float:left;
  }
  li
  {
    background:none;
    padding-left:0;
    display:block;
    position:relative;
    overflow:hidden;
    img
    {
      float:left;
      display:block;
      width:55px;
    }
    .bubble
    {
      position:absolute;
      left:67px;
      top:0;
      width:302px;
      z-index:-1;
      background:#000000;
      opacity:0.3;
      height:62px;
      @include border-radius(4px); 
    }
    .quote
    {
      height:63px;
      background:url(../img/ironweb/bubble_arrow.png) no-repeat 0 20px;
      margin-left:5px;
      float:left;
      width:302px;
      .resume
      {
        padding:7px 0 0 18px;
        font-size:13px;
        margin-bottom:4px
      }
      .who
      {
        padding:0 0 0 18px;
        font-size:11px;
      }
    }
  }
  .video
  {
    float:left;
    width:214px;
    position:relative;
    img
    {
      width:214px;
      @include border-radius(4px); 
    }
    .btn-vox-pop
    {
      font-size:100%;
      padiding:6px 6px 6px 50px;
      top:46px;
      left:28px;
    }
  }
}

#btn-candidature:hover{top: 17px; @include box-shadow(0 5px 7px rgba(#000, 0.1));}

//#########################################
//   Iron Web Inscriptions   ##############



#iw-inscriptions .input
{
	margin-bottom:8px;
}

#iw-inscriptions .input label
{
	display:block;
}

#iw-inscriptions .text input,
#iw-inscriptions .submit input
{
	@include rounded(2px);
	@include shadow('0 0 0 2px #fff, 0 0 0 3px #f0f0f0');
	@include vgradient(#f5f5f5, #fff, '', #fafafa);

	border: 1px solid #e1e1e1;
	margin: 6px 4px;
	padding: 0;
	width: 240px;
}

#iw-inscriptions h2,
#iw-inscriptions h3
{
	clear:both;
}

#iw-inscriptions textarea
{
	@include rounded(4px);
	@include shadow('0 0 0 3px #fff, 0 0 0 4px #f0f0f0');
	@include vgradient(#f5f5f5, #fff, '', #fafafa);

	border: 1px solid #e1e1e1;
	margin: 6px 4px;
	padding: 0;
	width:70%;
	height:140px;
	
	
	color: #838383;
	font-size: 13px;
}

#iw-inscriptions label .sub
{
	display:block;
	font-size:12px;
}

#iw-inscriptions label .required
{
	color:#292929;
}

#iw-inscriptions .col
{
	position:relative;
	overflow:hidden;
	float:left;
	margin-right:16px;
	&.last
	{
		margin-right:0
	}
}

#iw-inscriptions .input
{
	margin-bottom: 12px;

	&.short
	{
		input
		{
			width:50px;
		}
	}

	&.medium
	{
		input
		{
			width:150px;
		}
	}

	&.text,
	&.textarea
	{
		input
		{
			color: #838383;
			font-size: 13px;
			height: 26px;
			line-height: 26px;
			text-indent: 5px;
		}

		&.last-before-submit
		{
			margin-bottom: 13px;
		}
	}

	&.submit
	{
		input
		{
			@include shadow('inset 0 0 0 1px #fff, 0 0 0 5px #f3f3f3, 0 0 0 6px #eeeeee');
			@include vgradient(#fff, #e6e6e6, '', #eee);
			font-size:16px;
			border: 1px solid #dadada;
		}
	}

	&.submit
	{
		input
		{
			color: #838383;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
			text-shadow: 0 1px 0 #fff;
		}
	}

	&.checkbox
	{
		padding:10px 0;
		font-size:14px;
	
		input
		{
			width: auto;
		}

		label
		{
			display: inline-block;
			padding-left: 4px;
		}
	}

	&.error
	{
		&.text input
		{
			background: #F3EEC7;
			border: 2px solid #ff0000;
			margin: 5px -1px;
		}
	}

	.error-message
	{
		background: red;
		display: none;
	}
}

#iw-inscriptions .error {
  color:#292929;
  font-size:12px;
  line-height:16px;
  font-weight:bold;
  margin-bottom:12px;
}

//#########################################
//   Left Side     ########################

#vox-pop{
  .thumb{position: relative; margin-bottom: 10px;
    .btn-vox-pop{bottom: 45px; left: 90px; padding: 10px 20px 10px 60px;}
  }
  .content{padding: 10px;
    p{font-size: 90%;}
  }
  .social-bar{font-family: MisoRegular; padding-left: 10px;
    li{margin-right: 15px;}
    span{display: block; font-size: 120%; @extend .to-caps; color: $main-blue-10; border-right: 2px dotted $main-light-gray; padding-right: 15px;}
    a{background: $main-blue-10 url(../img/sprite.png) no-repeat; padding: 3px 7px 3px 20px; font-size: 90%; @extend .to-caps; @include border-radius(3px);}
    a:hover{background-color: $main-blue-5;}
    .btn-facebook{background-position: 5px 4px; padding-left: 18px;}
    .btn-twitter{background-position: 5px -14px; padding-left: 25px;}
  }
}

#news-box{
  ul{ padding-right: 20px;
    li{padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dotted $main-light-blue;}
    h4{font-size: 90%; font-family: Arial, sans-serif; font-weight: bold; margin-bottom: 10px;}
    p{font-size: 80%;
      a.read-more{font-size: 80%;padding: 0 10px; margin-left: 10px; background: $main-blue-20; color: #fff; @include border-radius(5px); @include transition(all 0.2s ease-in-out); text-decoration: none;}
      a.read-more:hover{background: $main-blue-10; }
    }
    a { 
      text-decoration: underline;
    }
  }

}
 
#newsletter-box{padding: 5px; @include border-radius(5px); background: rgba($main-blue-10, 0.5); width: 320px;
  h3{font-size: 110%; @extend .to-caps; @extend .whitetext-shadow-down; margin-bottom: 3px; @extend .clearfix;
    span{float: right; display: block; height: 16px; width: 16px; background: url(../img/sprite.png) no-repeat 0 -33px;}
  }
  form{padding: 7px; background: rgba($main-blue-20, 0.5); @include border-radius(5px);
    input{background: none; border: none; color: #fff !important; padding-top: 3px; font-size: 100%;}
    button.btn{ border: 0; float: right; @extend .light-white-gradient; @include border-radius(3px); padding: 3px 10px; font-size: 110%; @extend .to-caps; font-family: MisoRegular; color: $main-blue-20;}
  }
}


//#########################################
//   Right Side     #######################

#important-numbers{position: relative;
  .btn-nav{display: block;height: 180px; width: 17px; position: absolute;
    span{display: block; @extend .t-indent; height: 24px; width: 17px; position: absolute; top: 60px; left: 0;}
  }
  #btn-precedent{top: 0; left: 10px;
    span{background: url(../img/sprite.png) no-repeat 2px -136px; @include transition(all 0.1s ease-in-out);}
  }
  #btn-precedent:hover span{background-position: 0 -136px;}
  #btn-suivant{top: 0; right: 0;
    span{background: url(../img/sprite.png) no-repeat 3px -101px; @include transition(all 0.1s ease-in-out);}
  }
  #btn-suivant:hover span{background-position: 5px -101px;}
}

#numbers-viewport{ position: relative; margin: 0 0 30px 25px; width: 561px;
  li{display: block; width: 186px; height: 60px; padding-top: 130px; position: relative;
    span{display: block; font-family: MisoBold; font-size: 700%; text-align: center; text-shadow: 0 2px 3px rgba(#000, 0.35); height: 120px; width: 186px; padding-top: 7px; color: #ebebeb; @include transition(all 0.1s ease-in-out); position: absolute; top: 0; left: 0;}
    //span:hover{font-size: 750%; text-align: center;text-shadow: 0 4px 5px rgba(#000, 0.20); height: 137px; padding-top: 0; cursor: pointer; color: #fff;}
    h2{font-size: 140%; @extend .to-caps; text-align: center;}
  }
  li:hover{
    span{font-size: 750%; text-align: center; text-shadow: 0px 6px 5px rgba(#000, 0.20); height: 127px; padding-top: 0; color: #fff;}
  }
}

#conferenciers{
  ul{ @include border-radius(5px); @include box-shadow(0 3px 4px rgba(#000, 0.2)); width: 588px; float: right; margin-bottom: 10px;
    li{display: block; height: 160px; width: 147px; position: relative; float: right;
      span{@include opacity(0);display: block; position: absolute; width: 120px; top: 10px; left: 10px; z-index: 3; @include transition(all 0.2s ease-in-out);}
      img{@include opacity(1);display: block; position: absolute; left: 0; top: 0; z-index: 2; @include transition(all 0.2s ease-in-out);}
    }

    li:hover{
      img{@include opacity(0.4);}
      span{@include opacity(1);}
    }
  }
}

.rs-content-box{margin-bottom: 40px;
  p, ul li, address{font-size: 80%; margin-bottom: 15px;}
  ul li{padding-left: 15px; background: url(../img/bullet-arrow-blue.png) no-repeat 3px 5px; margin-bottom: 5px;
    a{text-decoration: underline;}
    a:hover{text-decoration: none;}
  }
  p+p, p+ul, ul+p{margin-top: 20px;}
  p+h3{margin-top: 30px;}
  h4{font-family: Arial, sans-serif; font-weight: bold; margin-bottom: 10px;}
  ul+h4, p+h4{margin-top: 25px;}
}
.white-thumb{@include border-radius(5px); background: #fff; margin-bottom: 15px; min-height: 185px; position: relative; @include box-shadow(0 2px 4px rgba(#000, 0.2)); position: relative;
  .btn-vox-pop{top: 65px; left: 65px;}
}
.iron-web{
  .white-thumb{background: url('../img/ph-ironweb-homecolumn.jpg') no-repeat;}
  h3{background: url(../img/sprite.png) no-repeat 105px -59px;}
}

.full-width{clear: both;}

.liste-reglements{
  li{background: url(../img/bullet-arrow-blue.png) no-repeat 0 5px; padding-left: 15px; margin-bottom: 10px;}
}

.rs-googlemap{width: 370px; height: 250px;}


//#########################################
//  Programmation    ######################

.prog-wrapper{
  ul{ @extend .clearfix;
    li{ margin-right: 15px; height: 160px; width: 147px;
      &.last{ margin: 0; }
      a{display: block;}
      span{ display: block; width: 120px;}
      img{  display: block;}
      &:hover{
      }
    }
  }
}

@import "prog";

//#########################################
//   Footer     ###########################

.footer-box{float: left; padding-left: 25px; border-left: 1px dotted #2c94ba; margin-left: 20px;
  ul{
    li{padding-left: 10px; background: url(../img/sprite.png) no-repeat 0 -250px; margin-bottom: 1px;}
    a{font-size: 70%;}
  }
}

footer{ padding: 20px 0; background: rgba(#000, 0.15) url(../img/back-footer.png) no-repeat top center;
  .google-map{float: left; width: 206px; height: 118px; background: #fff; @include border-radius(5px);}
  #googlemaps-footer{ width: 206px; height: 118px;}
  h2{float: left; height: 26px; width: 76px; margin-left: 20px; background: url(../img/sprite.png) no-repeat 0 -213px; }
  #main-address{float: left; margin-left: 25px;}
  address{font-size: 70%; line-height: 1.3;
    strong{display: block; font-weight: bold; margin-bottom: 5px;}
  }
  a:link:hover{text-decoration: underline;}
  a.disabled, a.disabled:hover{ opacity: 0.7; }
}
