{% import "/form_fields.twig" as forms %}

{% extends "/blocks/base.twig" %}

{% block content %}

<a href="{{ route('horaire_list') }}">Retour</a>
<h1>
    {% if mode == 'new' %}
        Nouveau
    {% else %}
        Editer
    {% endif %}
</h1>

<p class="flash">{{ flash.horaire }}</p>

<form action="{{ post_target }}" method="post">
    <dl>

        here!

    </dl>
    {{ forms.submit() }}
</form>

{% endblock %}